<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Metal Injection: Wednesday SLUDGE!!!</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../public/css/style.css">
		<link rel="stylesheet" type="text/css" href="../public/css/reset.css">
	</head>
	<body>
		{{{ body }}}
		<script type="text/javascript" src="../public/js/script.js"></script>
	</body>
</HTML>